<% add_decidim_page_title(t(".sign_up")) %>

<% content_for :devise_links do %>
  <%= render "decidim/devise/shared/links" %>
<% end %>

<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".sign_up") %></h1>
        <p>
          <%= t(".subtitle") %>
        </p>
        <p>
          <%= t(".already_have_an_account?") %>
          <%= link_to t(".sign_in"), new_user_session_path %>
        </p>
      </div>
    </div>

    <%= render "decidim/devise/shared/omniauth_buttons" %>

    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">

        <%= decidim_form_for(@form, namespace: "registration", as: resource_name, url: registration_path(resource_name), html: { class: "register-form new_user", id: "register-form" }) do |f| %>
          <%= invisible_captcha %>
          <div class="card">
            <div class="card__content">
              <%= form_required_explanation %>

              <div class="user-person">
                <div class="field">
                  <%= f.text_field :name, help_text: t(".username_help") %>
                </div>
              </div>

              <div class="user-nickname">
                <div class="field">
                  <%= f.text_field :nickname, help_text: t(".nickname_help", organization: current_organization.name), prefix: { value: "@", small: 1, large: 1 } %>
                </div>
              </div>

              <div class="field">
                <%= f.email_field :email %>
              </div>

              <div class="field">
                <%= f.password_field :password, help_text: t(".password_help", minimun_characters: NOBSPW.configuration.min_password_length), autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
          </div>

          <div class="card" id="additional_information">
            <div class="card__content">
              <div class="user-age-slice">
                <div class="field">
                  <%= f.collection_select(
                          :age_slice,
                          Decidim::RegistrationForm::AGE_SLICE,
                          :to_s,
                          ->(age_slice) { age_slice },
                          {
                              label: t("age_slice", scope: "decidim.devise.registrations.new.labels"),
                              prompt: t("select", scope: "decidim.devise.registrations.new.labels")
                          }
                      ) %>
                </div>
              </div>
              <div class="user-group-membership">
                <div class="field">
                  <%= f.label :group_membership, t("group_membership", scope: "decidim.devise.registrations.new.labels") %>
                  <%= f.collection_check_boxes(:group_membership,
                                               Decidim::RegistrationForm::GROUP_MEMBERSHIP,
                                               :to_s,
                                               ->(text) { t("#{text}", scope: "decidim.devise.registrations.new.group_membership") }) do |b| %>
                      <div>
                        <%= b.check_box.html_safe + b.label.html_safe %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <p>
              <%= t("aim", scope: "decidim.devise.registrations.new.extra_notes") %>
            </p>
          </div>

          <div class="card" id="additional_information_next">
            <div class="card__content">
              <div class="user-question-1">
                <div class="field">
                  <%= f.collection_select(
                          :question_racialized,
                          Decidim::RegistrationForm::GENERIC_ANSWERS,
                          :to_s,
                          ->(value) { t("#{value}", scope: "decidim.devise.registrations.new.generic_answers") },
                          {
                              label: t("question_racialized", scope: "decidim.devise.registrations.new.labels"),
                              prompt: t("select", scope: "decidim.devise.registrations.new.labels"),
                              help_text: t("question_racialized", scope: "decidim.devise.registrations.new.help_text")
                          }
                      ) %>
                </div>
              </div>
              <div class="user-question-gender">
                <div class="field">
                  <%= f.collection_select(
                          :question_gender,
                          Decidim::RegistrationForm::GENERIC_ANSWERS,
                          :to_s,
                          ->(value) { t("#{value}", scope: "decidim.devise.registrations.new.generic_answers") },
                          {
                              label: t("question_gender", scope: "decidim.devise.registrations.new.labels"),
                              prompt: t("select", scope: "decidim.devise.registrations.new.labels"),
                          }
                      ) %>
                </div>
              </div>
              <div class="user-question-sexual-orientation">
                <div class="field">
                  <%= f.collection_select(
                          :question_sexual_orientation,
                          Decidim::RegistrationForm::GENERIC_ANSWERS,
                          :to_s,
                          ->(value) { t("#{value}", scope: "decidim.devise.registrations.new.generic_answers") },
                          {
                              label: t("question_sexual_orientation", scope: "decidim.devise.registrations.new.labels"),
                              prompt: t("select", scope: "decidim.devise.registrations.new.labels"),
                          }
                      ) %>
                </div>
              </div>
              <div class="user-question-sexual-orientation">
                <div class="field">
                  <%= f.collection_select(
                          :question_disability,
                          Decidim::RegistrationForm::GENERIC_ANSWERS,
                          :to_s,
                          ->(value) { t("#{value}", scope: "decidim.devise.registrations.new.generic_answers") },
                          {
                              label: t("question_disability", scope: "decidim.devise.registrations.new.labels"),
                              prompt: t("select", scope: "decidim.devise.registrations.new.labels"),
                          }
                      ) %>
                </div>
              </div>
              <div class="user-question-sexual-orientation">
                <div class="field">
                  <%= f.collection_select(
                          :question_social_context,
                          Decidim::RegistrationForm::GENERIC_ANSWERS,
                          :to_s,
                          ->(value) { t("#{value}", scope: "decidim.devise.registrations.new.generic_answers") },
                          {
                              label: t("question_social_context", scope: "decidim.devise.registrations.new.labels"),
                              prompt: t("select", scope: "decidim.devise.registrations.new.labels"),
                          }
                      ) %>
                </div>
              </div>

              <span class="help-text"><%== t("race_definition", scope: "decidim.devise.registrations.new.help_text") %></span>
            </div>
          </div>

          <div class="card" id="card__tos">
            <div class="card__content">
              <h3><%= t(".tos_title") %></h3>

              <p class="tos-text">
                <%= strip_tags(translated_attribute(terms_and_conditions_page.content)) %>
              </p>

              <div class="field">
                <%= f.check_box :tos_agreement, label: t(".tos_agreement", link: link_to(t(".terms"), page_path("terms-and-conditions"))) %>
              </div>
            </div>
          </div>

          <div class="card" id="card__newsletter">
            <div class="card__content">
              <h3><%= t(".newsletter_title") %></h3>
              <div class="field">
                <%= f.check_box :newsletter, label: t(".newsletter"), checked: @form.newsletter %>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__content">
              <div class="actions">
                <%= f.submit t("devise.registrations.new.sign_up"), class: "button expanded" %>
              </div>
              <%= yield :devise_links %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "decidim/devise/shared/newsletter_modal" %>
